.hero-section{
    background-color: var(--grey-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10vw;
    height: 100vh;
}

.hero-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box{
    width: 60%;
}

.text-box h1{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.text-box p{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--secondary-color);
}

.text-box h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
}


@media screen and (max-width: 1140px){
    .hero-section{
        padding: 3rem 1vw;
    }
    .hero-image{
        display: none;
    }
    .hero-section{
        justify-content: center;
        align-items: center;
    }
    .text-box{
        text-align: center;
        width: 80%;
    }
}