.contacts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 8%;
}


@media screen and (max-width: 1140px) and (min-width: 600px){
    .contacts{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 600px){
    .contacts{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}

.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0rem 2rem 2rem 2rem;
    text-align: center;
}

.contact-text h1{
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
    padding: 2rem 0rem 0rem 0rem;
}

.contact-text p{
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--secondary-color);
}