$primaryColor: rgba(35, 209, 163, 0.807);
$hoverColor: rgba(35, 209, 163, 0.38);
$secondaryColor: #f1f1f1;
$tertiaryColor: #00bcd4;
$blackColor: #000;
$greyColor: #040d1b;
$darkGreyColor: #010714;
$darkBlue: #151320;