// $primaryColor: rgba(35, 128, 209, 0.807);
$primaryColor: rgb(187 247 208);
$hoverColor: rgba(35, 139, 209, 0.38);
$secondaryColor: #f1f1f1;
// $tertiaryColor: #00bcd4;
$tertiaryColor: rgb(186, 234, 203);
$blackColor: #000;
$greyColor: #040d1b;
$darkGreyColor: rgb(9 9 11);;
$darkBlue: #151320;
$cardColor: #0f0d16;
$articleTextColor: #d0d0d0;